.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: #08090b;
  color: white;

}


h2 {
  margin-right:auto;
  margin-left:auto;
  font-family: fantasy;
  font-size: larger;


}

body {
  background-image: url(https://images.unsplash.com/photo-1582573732277-c5444fa37391?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
  background-repeat: no-repeat;
  background-size: cover;

}

.desc {
  font-weight: bold;

}

.horn {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 30px;

}

h4 {
  margin-top: auto;
  background-color: #08090b;
  color: white;
  font-weight: bolder;
  
}

.rainbowtext {
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbow 8s ease infinite;

}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 25%;
}
100% {
    background-position: 0% 50%;
}


}